<html>
<head>
  
	<title> blogging site</title>
  <link rel="shortcut icon" href="C:\Users\HP\Desktop\lbJSS4sY_400x400.jpg" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item">blogsite</div>
			<a href="\" class="newpost">home</a>
			<a href="\blogs\new" class="newpost">newpost</a>


		</div>