<html>
<head>
  
	<title> blogging site</title>
  <link rel="shortcut icon" href="C:\Users\HP\Desktop\lbJSS4sY_400x400.jpg" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">

</head>
<body>
<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="comments icon"></i>blogsite</div>
			<a href="\" class="item">home</a>
			<br>
			<a href="\blogs\new" class="item">newpost</a>
		</div>
	</div>
<div class="ui main text container segment">
<div class="ui huge header"> <b>newblog</b></div>

<form  class ="ui form"action="\blogs" method="post">
<div class="field">
<label>Title:</label>
<center><input type="text"  name="title" placeholder="enter the title"><br></center>
</div>
<div class="field">
	<label>Image:</label>
<center><input type="text" name="image" placeholder="enter the image url"><br></center>
</div>
<div name="field">
	<label>blog content:</label>
	<textarea name="des"></textarea>
</div>



<input class="ui violet  big inverted button" type="submit">
</form> 
</div>



</body>
</html>